// .customers {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .customers__menu {
//     // display: flex;
//     // column-gap: 30px;
// }

// .customers__link {
//     @extend %align;
//     width: 170px;
//     height: 92px;
//     border: 1px solid var(--icon-color);
//     border-radius: 4px;
//     fill: var(--icon-color);

//     transition: border-color var(--animation),
//         fill var(--animation);

//     &:hover,
//     &:focus {
//         fill: var(--logo-blue);
//         border-color: var(--logo-blue);
//     }
// }


.customers {
    padding-top: 60px;
    padding-bottom: 60px;
}

.customers__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customers__item {
    flex-basis: calc((100% - 30px)/2);
}

.customers__link {
    @extend %align;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    flex-wrap: wrap;

    transition: border-color var(--animation),
        fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--logo-blue);
        border-color: var(--logo-blue);
    }
}

@media screen and (min-width: 768px){
    .customers__item {
        flex-basis: calc((100% - 60px)/3);
    }
}

@media screen and (min-width: 1200px){
    .customers {
        padding-top: 94px;
        padding-bottom: 94px;
    }    
    .customers__item {
        flex-basis: calc((100% - 5*30px)/6);
    }
}