.hero {
    margin: 0px;
    max-width: 480px;
    height: 400px;
    text-align: center;
    background-color: var(--bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./Images/Phone/phone-Hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(./Images/Phone/phone-Hero@2x.jpg); 
        }
}

@media screen and (min-width: 768px){
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./Images/Tablet/tablet-Hero.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./Images/Tablet/tablet-Hero@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./Images/Desktop/desktop-Hero.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./Images/Desktop/desktop-Hero@2x.jpg);
    }
}




.hero__title {
    @include font(900, 26px, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-color-while);

    margin-bottom: 30px;
    padding-top: 118px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        @include font(900, 44px, 60px);
        max-width: 696px;
        padding-top: 200px;
    }
}


.hero__btn {
    @include font(700, 16px, 30px);
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    background-color: var(--logo-blue);
    color: var(--text-color-while);
    cursor: pointer;

    border-radius: 4px;
    padding: 10px 24px;
    display: inline-block;
    min-width: 200px;
    border: transparent;
    transition: background-color var(--animation);

&:hover,
&:focus {
    background-color: #188CE8;
}   

    @media screen and (min-width: 1200px){
        padding: 10px 32px;
        min-width: 216px;
    }
}