// .portfolio {
//     padding-bottom: 94px;
//     padding-top: 94px;
// }

// /*========== Блок навігації ==========*/
// .portfolio__nav-menu {
//     display: flex;
//     margin-bottom: 50px;
//     column-gap: 8px;
//     justify-content: center;

// }

// .portfolio__nav-btn {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.63;
//     text-align: center;
//     letter-spacing: 0.03em;
//     font-family: inherit;

//     background-color: var(--secong-color);
//     color: var(--text-color);
//     cursor: pointer;


//     border-radius: 4px;
//     border: transparent;
//     padding: 6px 25px;
//     min-width: 63px;

//     transition: background-color var(--animation),
//         color var(--animation),
//         box-shadow var(--animation);

//     &:hover,
//     &:focus {
//         background-color: var(--logo-blue);
//         color: var(--text-color-while);
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
//             0px 1px 2px rgba(0, 0, 0, 0.08),
//             0px 2px 2px rgba(0, 0, 0, 0.12);
//         }
// }

.portfolio {
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio__nav-menu {
    display: flex;
    column-gap: 8px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.portfolio__nav-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;

    background-color: var(--secong-color);
    color: var(--text-color);
    cursor: pointer;


    border-radius: 4px;
    border: transparent;
    padding: 6px 25px;
    min-width: 63px;

    transition: background-color var(--animation),
        color var(--animation),
        box-shadow var(--animation);

    &:hover,
    &:focus {
        background-color: var(--logo-blue);
        color: var(--text-color-while);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

@media screen and (min-width: 768px) {
    .portfolio__nav-menu {
        row-gap: 0;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio {
        padding-bottom: 94px;
        padding-top: 94px;
    }
    .portfolio__nav-menu {
        margin-bottom: 50px;
    }
    
}


/*========== Блок перелік макетів ==========*/


.portfolio__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // flex-basis: calc((100% - 60px)/3);
    // align-items: baseline;
    align-content: stretch;
}

.portfolio__link {
    // display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--animation);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__border {
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    border-top: transparent;

    // height: 146px;
    flex-grow: 1;
}

.portfolio__ititle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--text-color);

    margin-bottom: 4px;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.portfolio__img {
    max-width: 100%;
    height: auto;
}

.portfolio__overley-zone {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--global-color);


    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    // padding: 65px 12px 61px 36px;
    padding: 77px 24px;

    transform: translateY(101%);

    transition: transform var(--animation);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0%);
        }
}

@media screen and (min-width: 768px){
    .portfolio__overlay{
        padding: 49px 24px;
    }
    .portfolio__item {
        width: calc((100% - 30px)/2);
    }
}

@media screen and (min-width: 1200px){
    .portfolio__overlay {
        padding: 63px 24px;
    }
    .portfolio__item {
        width: calc((100% - 60px)/3);
    }
    
}