.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.contact__link {
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    fill: var(--second-text-color);

    transition: color var(--animation),
    fill var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
    fill: var(--logo-blue);
}        
}

.contact__icon {
    margin-right: 8px;  //8px
}


@media screen and (max-width: 767px) {
    .contact {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .contact {
        flex-direction: row;
        gap: 30px;
    }
    .contact__icon {
        margin-right: 10px;
    }
}