.adress__menu {
    margin-bottom: 60px;
}

.adress__in-map {
    @include font($fs: 14px, $lh: 24px);
    letter-spacing: 0.03em;
    font-style: normal;

    color: var(--text-color-while);

    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
} 
}

.adress__contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);

    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
}    
}

.adress__item {
    margin-bottom: 8px;

&:last-child {
    margin-bottom: 0px;
}    
}

@media screen and (min-width: 768px){
    .footer__adress-container {
        margin-left: 76px;
    }
    
}

@media screen and (min-width: 1200px){
    .footer__adress-container {
        margin-left: 0;
    }
    .adress__menu {
        margin-bottom: 0;
        text-align: left;
    }
    
}