// .form-short {
//     // @extend %align;
//     // column-gap: 12px;
// }

// .form-short__input {
//     @include font($fs: 16px, $lh: 20px);
//     letter-spacing: 0.03em;
//     align-items: center;

//     background-color: transparent;
//     width: 358px;
//     height: 50px;
//     padding: 15px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;

//     color: var(--global-color);

// &:focus {
//     outline: none;
// }

// }

// .form-short__btn-submit {
//     @include font(700, 16px, 30px);
//     letter-spacing: 0.06em;
//     color: var(--global-color);

//     background-color: var(--logo-blue);
//     width: 200px;
//     height: 50px;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border: 0;
//     border-radius: 4px;

//     @extend %align;
//     column-gap: 10px;
// }

// .form-short {
//     // @extend %align;
//     // column-gap: 12px;
// }

.form-short__input {
    @include font($fs: 16px, $lh: 20px);
    letter-spacing: 0.03em;
    align-items: center;
    margin-bottom: 20px; //

    background-color: transparent;
    width: 100%;
    height: 50px;//
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: var(--global-color);

&:focus {
    outline: none;
}

}

.form-short__btn-submit {
    @include font(700, 16px, 30px);
    letter-spacing: 0.06em;
    color: var(--global-color);

    background-color: var(--logo-blue);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    @extend %align;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px){
    .form-short__input {
        width: 450px;
    }
}

@media screen and (min-width: 1200px){
    .form-short{
        display: flex;
        justify-content: center;
        column-gap: 12px;
    }
    .form-short__input {
        width: 358px;
    }
    .form-short__input {
        margin-bottom: 0px;
    }
}