.mobile-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--global-color);

    transition: opacity var(--animation), visibility var(--animation);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-list.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-list__menu {
    // display: flex;
    // flex-direction: column;
    gap: 32px;
    padding-top: 48px;
    padding-bottom: 302px;
}

.menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-list__container {
    position: relative;
    padding-left: 40px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: flex-end;
}

.mobile-list__close-btn {
   position: absolute;
   top: 10px;
   right: 15px;
   border: none;
   background-color: transparent;
   padding: 0;
   line-height: 0; 
}

.p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-list__contact-item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-list__contact-tel {
    @include font(500, 34px, 40px);
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
}        
}

.mobile-list__contact-mail {
    @include font(500, 24px, 28px);
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
}  
}

.mobile-list__social {
    margin-top: 64px;
}

.mobile-list__social-item {
    display: inline;
    @include font(500, 18px, 22px);
    letter-spacing: 0.02em;
}

.mobile-list__social-link {
    color: var(--logo-blue);
}

.mobile-list__social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
}

.mobile-list__social-item:not(:first-child) {
    padding-left: 10px;
}