.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 54px;
}

.menu__link {
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    color: var(--text-color);

    position: relative;
    padding-bottom: 32px;

    transition: color var(--animation);

&:hover,
&:focus {
    color: var(--logo-blue);
}    
}

.menu__link_current {
    color: var(--logo-blue);

&::after {
    position: absolute;
    left: 0px;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--logo-blue);
    border-radius: 2px;
    content: '';
}    
}

@media screen and (max-width: 767px) {
    .menu {
    display: none;
}
}

@media screen and (min-width: 1200px){
    .menu{
        column-gap: 50px;
    }

    .menu__link_carrent::after {
        border: 0;
    }
}
