.title {
    @include font(700, 28px, 33px);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color);

    margin-bottom: 30px;
}

@media screen and (min-width: 1200px){
    .title {
        @include font(700, 36px, 42px);
        margin-bottom: 50px;
    }
}