// .container {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;

//     margin-left: auto;
//     margin-right: auto;
// }


.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}